.hidden {
    display: none;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#game-header-container {
    width: 100%;
}

#game-header {
    text-align: center;
    margin-bottom: 20px;
}

.game-row {
    display: flex;
    width: 500px;
    height: 100px;
}

.game-board {
    height: 500px;
    width: 500px;
}

.game-tile {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    container-type: inline-size;
}
.game-tile > p {
    font-size: 16cqw;
}

.tile-marked, #free-tile {
    background-color: aquamarine;
}