.hidden {
    display: none;
}

.game-row {
    display: flex;
    width: 500px;
    height: 100px;
}

.game-board {
    height: 500px;
    width: 500px;
}

.game-tile {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.tile-marked, #free-tile {
    background-color: aquamarine;
}